* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#device {
    height: 80%;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 600px 1fr; 
    grid-template-rows: 1fr 600px 1fr; 
    grid-template-areas: 
    "device-name device-name device-name"
    ". . ."
    "canvas-name canvas-name canvas-name";

    color: white;
    background-color: brown;
}

#device-name { grid-area: device-name; }
#canvas-panel { grid-area: canvas-name; }

#container {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    gap: 1px;
    row-gap: 1px;
    background-color: gray;
}

#container div {
    background-color: whitesmoke; 
    /*border: 1px dotted gray;*/
}

#palette-panel,
#instrument-panel {
    display: flex;
    flex-direction: column;
}