* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#device {
   /* height: 80%;
    width: 80%;*/
    box-sizing: content-box;

    width: 900px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 1fr 600px 1fr; 
    grid-template-rows: 1fr 600px 1fr; 
    grid-template-areas: 
    "device-name device-name device-name"
    ". . ."
    "canvas-name canvas-name canvas-name";

    color: white;
    background-color: hsl(0, 80%, 55%);
    border-radius: 30px;
    border-bottom: hsl(0, 80%, 40%) 15px solid;
    border-right: hsl(0, 80%, 40%) 15px solid;
}

#device-name { 
    grid-area: device-name;
    text-align: center;
    padding: 30px 0 20px;
    font-size: 40px;
    font-weight: bold;
    color: gold;
    
}

#canvas-panel { 
    grid-area: canvas-name;
    display: flex;
    justify-content: center;
}

#container {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    gap: 1px;
    row-gap: 1px;
    background-color: gray;
}

#container div {
    background-color: whitesmoke; 
}


#palette-panel,
#instrument-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#palette-panel button,
#instrument-panel button {
    border-radius: 100%;
    border: none;
    transition: 0.2s;
    margin: 5px;
    position: relative;
}

#palette-panel button {
    height: 45px;
    width: 45px;
    box-shadow: 2px 2px 8px;
}

#instrument-panel button {
    height: 60px;
    width: 60px;
    box-shadow: 3px 3px 12px;
}

#instrument-panel p {
    margin-bottom: 15px;
}

#palette-panel button:active,
#palette-panel button.on,
#instrument-panel button:active,
#instrument-panel button.on {
    box-shadow: 2px 2px 10px inset;
    filter: brightness(1.4);
    top: 4px;
}

#canvas-panel button {
    height: 70px;
    width: 132px;
    margin-top: 5px;
    padding: 0;

    border: solid 1px gray;
    border-bottom: solid 8px gray;
    border-radius: 3px;
    box-sizing: content-box;

    transition: 0.1s;
}

#canvas-panel button:active {
    height: 70px;
    margin-top: 10px;
    border-bottom: solid gray 2px;
}

#canvas-panel button#reset {
    width: 70px;
}